/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.output {
     position: absolute;
     left: 10px;
     top: 50px;
     width: 50px;
     height: 50px;
     background-color: rgb(73, 166, 73);
}

.container {
     position:relative;
     width: 90%;
     height: 200px;
     border: 1px solid black;
     margin: auto;
     overflow: hidden;
}